.navbar-light .navbar-brand {


    background: teal;
    color: white;
}
    body {
        background-image: url("../ignasi_pattern_s.png")
    }

    /* * {background-color: aquamarine;} */
#contact {
    float: left;
    width:30%;
    min width: 200px;
}

